apiVersion: v1
kind: Service
metadata:
  name: altershield-service
  namespace: altershield
spec:
  ports:
    - port: 8080
      protocol: TCP
      targetPort: 8080
  selector:
    app: altershield
  type: ClusterIP